body{
    background-color: gainsboro;
    justify-content: center;
}
img{
    width: 300px;
    padding: 10px;
}
h1{
    font-family: 'Lexend Giga', Helvetica, sans-serif;
    color: darkslategray;
    text-align: center;
}
h5{
    padding: 0;
    margin: 0 auto;
    font-size: 20pt;
    text-transform: uppercase;
}
p{
    font-size: 13pt;
    font-family: 'DM Sans', Helvetica, sans-serif;
    padding: 3px;
}
.cat{
    color: darkslategray;
    background-color: lightblue;
    padding: 25px 0 25px 0;
}
.dog{
    background-color: lightgreen;
    color: seagreen;
    padding: 25px 0 25px 0;
}
.dino{
    background-color: #fac19c;
    color: orangered;
    padding: 25px 0 25px 0;
}
.pets {
    background-color: whitesmoke;
    border: 4px solid darkgray;
    width: 500px;
    margin: 10px;
    text-align: center;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: dimgray;
}
.petColor{
    font-size: 23pt;
}
.petsName{
    font-size: 35pt;
    padding: 28pt 0 28pt 0;
    border-bottom: 4px solid darkgray;
    margin-bottom: 20px;
    margin-top: 0;
    color: whitesmoke;
    background-color: slategray;
}
#cat{
    background-color: lightblue;
    /* border: 5px solid darkslategray; */
}
#dog{
    background-color: lightgreen;
    /* border: 5px solid seagreen; */
}
#dino{
    background-color: #fac19c;
    /* border: 5px solid orangered; */
}
#pet-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }